/*
/* index.css
*/

@charset "utf-8";

body {
  width: 95%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 1.7rem;
  color: #fff;
  background-color: #134A63;
}

h3 {
  margin: 10px 0 0;
  color: #134A63;
  font-weight: bolder;
}

p {
  margin: 10px 0 0;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

::placeholder {
  color: gray;
  font-size: 1.4rem;
  text-align: left;
}

.display-none {
  display: none;
}

.operation_area {
  margin: 30px 0;
  font-size: 1rem;
}

.status_area {
  margin: 30px 0;
  font-size: 0.8rem;
}

.operation_area #racingdate {
  font-size: 0.8rem;
}

.account_area {
  width: 800px;
  margin: 10px auto;
}

.account_area ul li {
  width: 700px;
  margin: 20px 0;
}

.account_area ul li label {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.account_area ul li input {
  width: 700px;
  height: 50px;
  font-size: 1.1rem;
}

.account_area ul li p {
  font-size: 0.8rem;
  color: red;
}

/* blue buttons */
.button-g {
  position: relative;
  width: auto;
  min-height: 3rem;
  margin: 0 0 0 10px;
  padding: calc(.875rem-1px) calc(1.5rem-1px);
  vertical-align: baseline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-g:hover,
.button-g:focus {
  color: rgba(0, 0, 0, 0.65);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-g:hover {
  transform: translateY(-1px);
}

.button-g:active {
  color: rgba(0, 0, 0, 0.65);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.button-wide {
  width: 250px;
}

/* general buttons */
.button-6 {
  background-color: #FFFFFF;
}

.button-6:active {
  background-color: #F0F0F1;
}

/* gray buttons */
.button-1 {
  background-color: #898985;
}

.button-1:active {
  background-color: #AFAFAA;
}